:root {
    --color1: transparent;
    --color2: #FFFCDD;
}

/* main {
    background: var(--color1);
    transition: all 350ms ease-out;
} */


html {
    height: 100%;
}

body {
    margin:0;
    font-family: 'Inconsolata', monospace;
}

h1, h2, h3, h4, h5 {
    font-family: 'Prata', serif;
    font-weight: normal;
}

h1 {
    font-size: 150px;
    margin: 0;
}

h2 {
    font-size: 100px;
}

.projects h2 {
    color: #41ccc4;
}

.my-stack h2 {
    color: #003170;

}

.img-margin {
    margin-bottom: 60px;

}

.contact h2 {
    color: #f3747b;
}

h3{
    font-size: 50px;
}

.projects h3 {
    color: #16736e;
}

.my-stack h3 {
    color: #306fbf;
    margin: 0 0 70px 0;
    line-height: 100%;
}

h4 {
    font-size: 32px;
    color: #16736e;
    background-color: #75e3dd;
    display: inline-block;
    margin: 0;
    padding: 4px;
}

.projects h4 {
    position: absolute;
    z-index: 1;
    top: -25px;
   
}

.projects h4.right-aligned {
    right: 0;
}

.extra-gutters {
    padding: 0 60px;
}

.right-aligned {
    text-align: right;
}

.works a {
    letter-spacing: 2px;
    color: #2ce6dc;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

p {
    line-height: 145%;
}

nav {
    position: fixed;
    z-index: 1;
    left: 0;
    right:0;
    font-family: 'Prata', serif;
    font-size: 22px;
    background: var(--color1);
    transition: all 350ms ease-out;
}

.navigation {
    text-align: center;
}

.navigation li {
    display: inline-block;
    margin: 0 15px;
}

.navigation li a {
    color: #A37254;
    text-decoration: none;
}

.left-col, .right-col {
    color: white;
    text-align: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-col {
    background-color: #FFF9AA;
    color:#F2AA7E;
    text-align: center;
}

.right-col {
    background-color: #F2AA7E;
    /* background-color: #C4A78D; */
}

.top-container {
    width: 500px;
    margin: 0 auto;
    
}

video {
    max-width: 100%;
    height: auto;
  }

.scroll {
    color: #A37254;
    text-align: center;
}

.projects {
    color: #16736e;
}

.projects-image {
    position: relative;
    width: 100%;
}

.projects h4 {
    position: absolute;
    z-index: 1;
    top: -25px;
    /* left: 2.7%; */
}

img {
    max-width: 100%;
}

footer {
    background-color: #f2979c;
    min-height: 220px;
    background-image: url(../img/socialmedia.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    color:white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.social-icon {
    height: 60px;
    filter: invert(96%) sepia(100%) saturate(12%) hue-rotate(237deg) brightness(103%) contrast(103%);
    margin: 10px 20px;
}

.social-icons-container {
    text-align: center;

}